<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registrationModal">
    Register
</button>
<div class="modal fade" id="registrationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel-title text-center">
                    <h1 class="title">Registration Form</h1>
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">

                    <div class="container">
                            <div class="form-group">
                                <label for="firstName" class="col-sm-1 control-label">Full Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-1 control-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" id="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-1 control-label">Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" placeholder="Password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-sm-1 control-label">Confirm Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" placeholder="Confirm Password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="birthDate" class="col-sm-1 control-label">Date</label>
                                <div class="col-sm-4">
                                    <input type="date" id="birthDate" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class="col-sm-1 control-label">Country</label>
                                <div class="col-sm-4">
                                    <select id="country" class="form-control">
                                        <option>Country</option>
                                        <option>Afghanistan</option>
                                        <option>Albania</option>
                                        <option>Bahamas</option>
                                        <option>Cambodia</option>
                                        <option>Denmark</option>
                                        <option>Ecuador</option>
                                        <option>France</option>
                                        <option>Finlad</option>
                                        <option>Germany</option>
                                        <option>Japan</option>
                                        <option>Portugal</option>
                                        <option>Spain</option>
                                        <option>Switzerland</option>
                                        <option>United Kingdom</option>
                                    </select>
                                </div>
                            </div> <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-label col-sm-1">User Type</label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="radio-inline">
                                                <input type="radio" id="MemberRadio" name="type" value="Member" onclick="fMember()">Member
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="radio-inline">
                                                <input type="radio" id="PartnerRadio" name="type" value="Partner" onclick="fPartner()">Partner
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="radio-inline">
                                                <input type="radio" id="CostumerRadio" name="type" value="Costumer" onclick="fCostumer()">Costumer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.form-group -->

                    <div class="showhideopt">
                        <div id="Member" class="hide">
                            <label for="businessarea">Business Area:</label>
                            <input type="text" name="memberdef" id="businessarea">
                            <br>
                            <label for="collaboratorn">Collaborator number:</label>
                            <input type="text" name="memberdef" id="collaboratorn">
                            <br>
                            <label for="role">Role:</label>
                            <input type="text" name="memberdef" id="role">
                        </div>

                        <div id="Partner" class="hide">
                            <label for="referral">Referral:</label>
                            <input type="text" name="contact" id="referral">
                        </div>

                        <div id="Costumer" class="hide">
                            <label for="referral">Referral:</label>
                            <input type="text" name="contact" id="referral">
                        </div>

                        <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">I accept <a href="#">terms</a>
                                        </label>
                                    </div>
                                </div>
                        </div> <!-- /.form-group -->

                        <div class="registerbutton">
                            <div class="form-group">
                                <div class="col-sm-50 col-sm-offset-1">
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </form> <!-- /form -->
                </div>
        </div>
    </div>
</div>