{{#if selected}}
    <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">Congratulations, your idea <strong>{{ideaName}}</strong> has been selected to advance to the coaching phase.</p>
{{else}}
    <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">We are sorry, but your idea <strong>{{ideaName}}</strong> was not selected to advance to the coaching phase.</p>
    <p style="margin:0 10px 10px 10px;padding:0;">Thank you for your contribution.</p>
{{/if}}