{{>header pageName="Business Model Canvas"}}
<div class="container">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Business Model Canvas</h1>
                <hr>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-2 col-md-2">
            <textarea placeholder="Key Partners"></textarea>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <textarea placeholder="Key Activities"></textarea>
                </div>
                <div class="col-xs-12">
                    <textarea placeholder="Key Resources"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <textarea placeholder="Value Propositions"></textarea>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <textarea placeholder="Customer Relationships"></textarea>
                </div>
                <div class="col-xs-12">
                    <textarea placeholder="Channels"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <textarea placeholder="Customer segments"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <textarea placeholder="Cost Structure"></textarea>
        </div>
        <div class="col-md-6">
            <textarea placeholder="Revenue Streams"></textarea>
        </div>
    </div>

    <!--
    <textarea class="form-control" rows="5" id="keyPartners" name="keyPartners" placeholder="Key Partners"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="keyActivities" name="keyActivities" placeholder="Key Activities"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="keyResources" name="keyResources" placeholder="Key Resources"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="valuePropositions" name="valuePropositions" placeholder="Value Propositions"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="costumerRelationships" name="costumerRelationships" placeholder="Costumer Relationships"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="channels" name="channels" placeholder="Channels"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="costumerSegments" name="costumerSegments" placeholder="Costumer Segments"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="costStructure" name="costStructure" placeholder="Cost Structure"
              autofocus></textarea>
    <textarea class="form-control" rows="5" id="revenueStreams" name="revenueStreams" placeholder="Revenue Streams"
              autofocus></textarea>
              -->
</div>
