{{>header pageName="Business Model Canvas"}}

<div class="container">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Business Model Canvas</h1>
                <hr>
            </div>
        </div>
    </header>

    <div class="row rowmargin">
        <div class="textareabmc col-sm-2 col-md-2">
            <textarea placeholder="Key Partners"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <textarea placeholder="Key Activities"></textarea>
                </div>
                <div class="col-xs-12">
                    <textarea placeholder="Key Resources"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <textarea placeholder="Value Propositions"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <textarea placeholder="Customer Relationships"></textarea>
                </div>
                <div class="col-xs-12">
                    <textarea placeholder="Channels"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <textarea placeholder="Customer segments"></textarea>
        </div>
    </div>

    <div class="row rowmargin">
        <div class="textareabmc col-md-6">
            <textarea class="lowerbmc" placeholder="Cost Structure"></textarea>
        </div>
        <div class="lowerbmc textareabmc col-md-6">
            <textarea class="lowerbmc" placeholder="Revenue Streams"></textarea>
        </div>
    </div>
</div>
