{{>header pageName="Business Model Canvas"}}

<div class="container">
        <div class="bmcTitle">
            <h4 id="titleBMC">BUSINESS MODEL CANVAS
            </h4>
        </div>

    <div class="row rowmargin">
        <div class="textareabmc col-sm-2 col-md-2">
            <label class="titleLabelOne" for="keyPartnersTextarea">Key Partners</label>
            <textarea id="keyPartnersTextarea"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="titleLabelTwo" for="keyActivitiesTextarea">Key Activities</label>
                    <textarea id="keyActivitiesTextarea"></textarea>
                </div>
                <div class="col-xs-12">
                    <label class="titleLabelThree" for="keyResourcesTextarea">Key Resources</label>
                    <textarea id="keyResourcesTextarea"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <label class="titleLabelOne" for="keyValueTextarea">Value Propositions</label>
            <textarea id="keyValueTextarea"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="titleLabelTwo" for="keyCostumerTextarea">Customer Relationships</label>
                    <textarea id="keyCostumerTextarea"></textarea>
                </div>
                <div class="col-xs-12">
                    <label class="titleLabelThree" for="keyChannelsTextarea">Channels</label>
                    <textarea id="keyChannelsTextarea"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <label class="titleLabelOne" for="keySegmentsTextarea">Customer segments</label>
            <textarea id="keySegmentsTextarea"></textarea>
        </div>
    </div>

    <div class="row rowmargin">
        <div class="textareabmc col-md-6">
            <label class="titleLabelFour" for="keyCostTextarea">Cost Structure</label>
            <textarea id="keyCostTextarea"></textarea>
        </div>
        <div class="lowerbmc textareabmc col-md-6">
            <label class="titleLabelFour" for="keyRevenueTextarea">Revenue Streams</label>
            <textarea id="keyRevenueTextarea"></textarea>
        </div>
    </div>

    <div class="container">
        <button id="submitBMC" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
    </div>
</div>
