{{>header pageName="Business Model Canvas"}}
<script src="../js/bmc.js"></script>

<div id="bmcContainer" class="container">
        <div class="bmcTitle">
            <h4 id="titleBMC">BUSINESS MODEL CANVAS
            </h4>
        </div>

    <div class="row rowmargin">
        <div class="textareabmc col-sm-2 col-md-2">
            <label class="titleLabelOne" for="keyPartnersTextarea">Key Partners</label>
                <span data-toggle="tooltip" data-placement="top"
                      title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                      class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
            <textarea id="keyPartnersTextarea"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="titleLabelTwo" for="keyActivitiesTextarea">Key Activities</label>
                    <span data-toggle="tooltip" data-placement="top"
                          title="What Key Activities do our Value Propositions require?&#13;&#10;Our Distribution Channels?&#13;&#10;Customer Relationships?&#13;&#10;Revenue streams?"
                          class="glyphicon glyphicon-question-sign glyhiconStyleTwo"></span>
                    <textarea id="keyActivitiesTextarea"></textarea>
                </div>
                <div class="col-xs-12">
                    <label class="titleLabelThree" for="keyResourcesTextarea">Key Resources</label>
                    <span data-toggle="tooltip" data-placement="top"
                          title="What Key Resources do our Value Propositions require?&#13;&#10;Our Distribution Channels?&#13;&#10;Customer Relationships?&#13;&#10;Revenue Streams?&#13;&#10;Types of resources? &#13;&#10;Physical Intellectual (brand patents, copyrights, data) and Human Financial"
                          class="glyphicon glyphicon-question-sign glyhiconStyleThree"></span>
                    <textarea id="keyResourcesTextarea"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <label class="titleLabelOne" for="keyValueTextarea">Value Propositions</label>
            <span data-toggle="tooltip" data-placement="top"
                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                  class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
            <textarea id="keyValueTextarea"></textarea>
        </div>
        <div class="textareabmc col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="titleLabelTwo" for="keyCostumerTextarea">Customer Relationships</label>
                    <span data-toggle="tooltip" data-placement="top"
                          title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                          class="glyphicon glyphicon-question-sign glyhiconStyleTwo"></span>
                    <textarea id="keyCostumerTextarea"></textarea>
                </div>
                <div class="col-xs-12">
                    <label class="titleLabelThree" for="keyChannelsTextarea">Channels</label>
                    <span data-toggle="tooltip" data-placement="top"
                          title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                          class="glyphicon glyphicon-question-sign glyhiconStyleThree"></span>
                    <textarea id="keyChannelsTextarea"></textarea>
                </div>
            </div>
        </div>
        <div class="textareabmc col-sm-2">
            <label class="titleLabelOne" for="keySegmentsTextarea">Customer segments</label>
            <span data-toggle="tooltip" data-placement="top"
                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                  class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
            <textarea id="keySegmentsTextarea"></textarea>
        </div>
    </div>

    <div class="row rowmargin">
        <div class="textareabmc col-md-6">
            <label class="titleLabelFour" for="keyCostTextarea">Cost Structure</label>
            <span data-toggle="tooltip" data-placement="top"
                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                  class="glyphicon glyphicon-question-sign glyhiconStyleFour"></span>
            <textarea id="keyCostTextarea"></textarea>
        </div>
        <div class="lowerbmc textareabmc col-md-6">
            <label class="titleLabelFour" for="keyRevenueTextarea">Revenue Streams</label>
            <span data-toggle="tooltip" data-placement="top"
                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                  class="glyphicon glyphicon-question-sign glyhiconStyleFour"></span>
            <textarea id="keyRevenueTextarea"></textarea>
        </div>
    </div>

    <div class="container">
        <button id="submitBMC" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
    </div>
</div>
