<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoom level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/errorPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title> 404 | Innovation Race Portal</title>
</head>
<body>
    <div class="container">
        <div class="errorImageCentered">
            <img src="../images/error.png" alt="Error Symbol" class="errorImage">
        </div>
        <h1 class="text404Page">404</h1>
        <h1 class="text404Page">Page Not Found</h1>
    </div>
</body>