{{>header pageName="404 Not Found"}}

<div class="container">
    <div class="errorImageCentered">
        <img src="/images/error.png" alt="Error Symbol" class="errorImage">
    </div>
    <h1 class="text404Page">404</h1>
    <h1 class="text404Page">Page Not Found</h1>
</div>
