<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="css/homepage.css">

    <title>Innovation Race</title>
</head>
<body>

{{>bsnavbar}}

<div class="container">
    {{#each errorMessages}}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error:</strong> {{this}}
        </div>
    {{/each}}
    {{#each successMessages}}
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success:</strong> {{this}}
        </div>
    {{/each}}
    {{> auth/register}}
    {{> auth/login}}

    <table class="table table-hover table-responsive table-curved rankingTable">
        <thead class="rankingTableHead">
        <tr>
            <th>Position</th>
            <th>Idea</th>
            <th>Pontuation</th>
            <th>Qualitative Evaluation</th>
        </tr>
        </thead>
        <tbody class="rankingTableBody">
        <tr>
            <td>1</td>
            <td>Comer sem ganhar calorias</td>
            <td>105</td>
            <td>A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Programar de forma mais eficaz</td>
            <td>99</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Correr sem suar</td>
            <td>90</td>
            <td>B</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>