{{>header pageName="Home"}}

<div class="innovationTitle">
    <h1 class="innovationHeader_I">Innovation</h1>
    <h1 class="innovationHeader_R">Race</h1>
</div>

<div class="container">
    <link rel="stylesheet" href="css/homepage.css">
    {{>actionResults}}

    <table class="table table-hover table-responsive table-curved rankingTable">
        <thead class="rankingTableHead">
        <tr>
            <th>Position</th>
            <th>Idea</th>
            <th>Pontuation</th>
            <th>Qualitative Evaluation</th>
        </tr>
        </thead>
        <tbody class="rankingTableBody">
        <tr>
            <td>1</td>
            <td>Comer sem ganhar calorias</td>
            <td>105</td>
            <td>A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Programar de forma mais eficaz</td>
            <td>99</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Correr sem suar</td>
            <td>90</td>
            <td>B</td>
        </tr>
        </tbody>
    </table>

</div>
