<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <title>Innovation Race</title>
</head>
<body>

{{>bsnavbar}}


    <div class="container">

        <button type="button" class="btn btn-info contactButton"><a href="/manageUsers">Manage Users</a></button>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Innovation Race</h1>
                    <hr>
                </div>
            </div>
        </header>

        <div class="header-altrainfo">
            <h3 id="infoInnovation">Este é um concurso onde os membros e clientes da Altran Portugal irão submeter eventuais ideias a concurso para que a empresa consiga seguir caminhos inovadores. Este é um concurso onde os membros e clientes da Altran Portugal irão submeter eventuais ideias a concurso para que a empresa consiga seguir caminhos inovadores. Este é um concurso onde os membros e clientes da Altran Portugal irão submeter eventuais ideias a concurso para que a empresa consiga seguir caminhos inovadores.</h3>
        </div>

        <table class="table table-hover table-bordered rankingTable">
            <thead class="rankingTableHead">
            <tr>
                <th>Position</th>
                <th>Idea</th>
                <th>Pontuation</th>
                <th>Qualitative Evaluation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Comer sem ganhar calorias</td>
                <td>105</td>
                <td>A</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Programar de forma mais eficaz</td>
                <td>99</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Correr sem suar</td>
                <td>90</td>
                <td>B</td>
            </tr>
            </tbody>
        </table>
    </div>
{{>footer}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>