{{>header pageName="Innovation Rules"}}
<link rel="stylesheet" href="/css/innovationRules.css">

<div class="container innovationRulesPage">
    <div class="videoTutorial">
        <iframe width="520" height="345" src="https://youtube.com/embed/MgWNmWxzA_Y"></iframe>
    </div>

    <div class="phaseButtons">
        <button type="button" class="btn btn-primary buttonThink">Think Geek</button>
        <button type="button" class="btn btn-primary buttonValidation">Validation</button>
        <button type="button" class="btn btn-primary buttonCoaching">Coaching</button>
        <button type="button" class="btn btn-primary buttonKick">Project Kick-Off</button>
    </div>

    <h2 class="innovationRulesHeader">INNOVATION RULES</h2>

    <div class="rules">
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean nec risus ut felis posuere varius.
                Nulla scelerisque quis turpis nec tincidunt.
                In condimentum erat sed quam mattis pretium.
                Phasellus finibus luctus tortor sodales porta.
                Aliquam sem nunc, mollis ut nisl ut, mollis blandit lacus.
                Nullam neque justo, vehicula a libero nec, mattis mattis nisi.
                Pellentesque maximus est vel feugiat ornare.
                Proin efficitur, nunc eu elementum ullamcorper, tortor magna mollis lectus, viverra fermentum ligula lacus a magna.
                Nulla porttitor tortor in cursus facilisis.
                Nulla ut orci tristique, pulvinar nulla in, tincidunt justo.
                Cras eget neque sit amet diam tincidunt imperdiet nec id risus.</li>
            <br>
            <li>Maecenas velit risus, imperdiet nec nisi sit amet, maximus vehicula dolor.
                Fusce venenatis feugiat facilisis. Curabitur id porta erat.
                Phasellus sodales ligula urna, vel rutrum ligula pellentesque a.
                Vestibulum sem felis, feugiat sit amet urna quis, efficitur tempor lorem.
                Curabitur sed aliquet eros. Maecenas a euismod nisl, eget cursus massa.
                Nullam pulvinar elit eget ipsum tincidunt, eget sollicitudin leo fringilla.
                Mauris eget sodales arcu. Ut malesuada felis ut sapien feugiat malesuada.
                Proin venenatis, urna non sodales suscipit, nulla nisl cursus tellus, et sagittis tellus purus vitae ante.
                Integer congue ultrices ex, eu interdum augue facilisis vitae.
                Quisque ac elementum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec facilisis erat nec mi laoreet suscipit. Vestibulum ligula libero, ultricies sit amet dolor a, congue ultricies dui.
                Nunc suscipit ultrices elementum.
                Aenean molestie convallis dui sit amet tempor. Nulla lacinia arcu magna.</li>
            <br>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean nec risus ut felis posuere varius.
                Nulla scelerisque quis turpis nec tincidunt.
                In condimentum erat sed quam mattis pretium.
                Phasellus finibus luctus tortor sodales porta.
                Aliquam sem nunc, mollis ut nisl ut, mollis blandit lacus.
                Nullam neque justo, vehicula a libero nec, mattis mattis nisi.
                Pellentesque maximus est vel feugiat ornare.
                Proin efficitur, nunc eu elementum ullamcorper, tortor magna mollis lectus, viverra fermentum ligula lacus a magna.
                Nulla porttitor tortor in cursus facilisis.
                Nulla ut orci tristique, pulvinar nulla in, tincidunt justo.
                Cras eget neque sit amet diam tincidunt imperdiet nec id risus.</li>
            <br>
            <li>Maecenas velit risus, imperdiet nec nisi sit amet, maximus vehicula dolor.
                Fusce venenatis feugiat facilisis. Curabitur id porta erat.
                Phasellus sodales ligula urna, vel rutrum ligula pellentesque a.
                Vestibulum sem felis, feugiat sit amet urna quis, efficitur tempor lorem.
                Curabitur sed aliquet eros. Maecenas a euismod nisl, eget cursus massa.
                Nullam pulvinar elit eget ipsum tincidunt, eget sollicitudin leo fringilla.
                Mauris eget sodales arcu. Ut malesuada felis ut sapien feugiat malesuada.
                Proin venenatis, urna non sodales suscipit, nulla nisl cursus tellus, et sagittis tellus purus vitae ante.
                Integer congue ultrices ex, eu interdum augue facilisis vitae.
                Quisque ac elementum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec facilisis erat nec mi laoreet suscipit. Vestibulum ligula libero, ultricies sit amet dolor a, congue ultricies dui.
                Nunc suscipit ultrices elementum.
                Aenean molestie convallis dui sit amet tempor. Nulla lacinia arcu magna.</li>
        </ol>
    </div>
</div>
