{{>header pageName="Innovation Rules"}}
<link rel="stylesheet" href="/css/innovationRules.css">

<div class="container innovationRulesPage">
    <div class="videoTutorial">
        <iframe width="520" height="345" src="https://youtube.com/embed/MgWNmWxzA_Y"></iframe>
    </div>

    <div class="phaseButtons">
        <button type="button" class="btn btn-primary buttonThink">Think Geek</button>
        <button type="button" class="btn btn-primary buttonValidation">Validation</button>
        <button type="button" class="btn btn-primary buttonCoaching">Coaching</button>
        <button type="button" class="btn btn-primary buttonKick">Project Kick-Off</button>
    </div>

</div>
