<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <title>Innovation Race</title>
</head>
<body>

{{>bsnavbar}}
    <div class="container">
        <h2>Esta é a página das regras da corrida</h2>
    </div>

</body>
</html>