{{>header pageName="Password Reset"}}
<link rel="stylesheet" href="/css/passwordReset.css">


<div id="passwordResetContainer" class="container">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="passwordResetHeading">Password Reset</h1>
            </div>
        </div>
    </header>

    <h6 id="passwordResetText">Forgot your password?<br>Don't worry! Please type down your e-mail so you can reset it.
    </h6>

    <form id="passwordResetForm" action="/passwordReset" method="post" role="form">
        <div class="form-group">
            <input type="email" name="email" id="passwordResetEmail" tabindex="1" class="form-control"
                   placeholder="E-mail" required>
        </div>

        <div class="form-group">
            <div class="row">
                <button type="submit" name="resetSubmitButton" id="resetSubmitButton"
                        class="btn btn-primary btn-block">Reset
                </button>
            </div>
        </div>
    </form>
</div>
