{{>header pageName="Password Change"}}
<link rel="stylesheet" href="/css/passwordReset.css">


<div id="passwordChangeContainer" class="container">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="passwordChangeHeading">Password Change</h1>
            </div>
        </div>
    </header>

    <h6 id="passwordChangeText">You are about to change your password!<br>Please confirm it below in order to continue.
    </h6>

    <form id="passwordChangeForm" action="/passwordReset/{{ token }}" method="post" role="form">
        <div class="form-group">
            <input type="password" name="firstPassword" id="firstPassword" tabindex="1" class="form-control"
                   placeholder="Password" required autofocus>
        </div>

        <div class="form-group">
            <input type="password" name="secondPassword" id="secondPassword" tabindex="1" class="form-control"
                   placeholder="Confirm password" required>
        </div>

        <div class="form-group">
            <div class="row">
                <button type="submit" name="changeSubmitButton" id="changeSubmitButton"
                        class="btn btn-primary btn-block">Confirm
                </button>
            </div>
        </div>
    </form>
</div>
