{{>header pageName="Submit Idea"}}

<div class="container">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Submit Idea</h1>
                <hr>
            </div>
            <div class="submit-idea-wrapper">
                <form id="submit-idea" action="submit">
                    <p>Title</p>
                    <input type="text name="title" />
                    <p>Description</p>
                    <textarea></textarea>
                    <p>Scientific/Technological uncertainty that the project aims to solve</p>
                    <textarea></textarea>
                    <p>Why can't the solutions found be implemented by someone with technical skills in the field?</p>
                    <textarea></textarea>
                    <p>Human and technological resources needed (technologies, partners, universities, etc.)</p>
                    <textarea></textarea>
                    <p>Results to be produced by the project</p>
                    <textarea></textarea>
                </form>
            </div>
        </div>
    </header>

</div>

{{> footer}}