{{>header pageName="Submit Idea"}}

{{>actionResults}}

<link rel="stylesheet" href="/css/ideaPage.css">

<script src="/js/draftIdeas.js"></script>

<div class="container" id="submit_idea">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="modal-body">
                <div class="modal-header">
                    <div class="panel-title">
                        <h1>Create Idea</h1>
                    </div>
                </div>
                <div class="modal-body main-submit main-center">
                    <form id="idea-form" method="post" action="submit">
                        <div class="form-group">
                            <label for="ideaTitle">Title</label>
                            <input type="text" id="ideaTitle" name="ideaTitle" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea rows=8 cols=50 type="description" id="description" name="description"
                                      class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="teamIdea">Team name</label>
                            <input type="text" id="teamIdea" name="teamIdea" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="uncertaintyToSolve">Scientific/Technological uncertainty that the project aims
                                to solve</label>
                            <textarea rows=8 cols=50 type="text" id="uncertaintyToSolve" name="uncertaintyToSolve"
                                      class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="solutionTechnicalCompetence">Why can't the solutions found be implemented by
                                someone
                                with technical skills in the field?</label>
                            <textarea rows=8 cols=50 type="text" id="solutionTechnicalCompetence"
                                      name="solutionTechnicalCompetence" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="techHumanResources">Human and technological resources needed (technologies,
                                partners, universities, etc.)</label>
                            <textarea rows=8 cols=50 type="text" id="techHumanResources" name="techHumanResources"
                                      class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="results">Results to be produced by the project</label>
                            <textarea rows=8 cols=50 type="text" id="results" name="results"
                                      class="form-control"></textarea>
                        </div>
                        <div class="submiteButton">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="saveDraftButton">
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <a id="draftButton" class="btn btn-primary btn-block">Save Draft</a>
                                </div>
                            </div>
                        </div>
                    </form> <!-- /form -->
                </div>
            </div>
        </div>
    </div>

</div>

{{> footer}}