{{>header pageName="Submit Idea"}}

<div class="container">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Submit Idea</h1>
                <hr>
            </div>
            <div class="submit-idea-wrapper">
                <form id="submit-idea" action="submit">
                    Title: <input type="text name="title" />
                </form>
            </div>
        </div>
    </header>

</div>

{{> footer}}