@media screen and (min-width: 768px) {
    #classificationModal .modal-dialog  { width:75%; }
}

#classificationModal .container {
    width: 100%;
}

#classificationModal .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

#classificationModal .nav-tabs, .nav-pills {
    text-align:center;
}

#classificationModal #filler {
    visibility: hidden;
}

#classificationModal textarea {
    min-height: 300px;
}