@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
body {
	width: 100%;
	height: 100%;
    background: url("../images/background_altran.jpg") no-repeat center center fixed;
	/*background-repeat: no-repeat;*/
	background-size: cover;
	background-position: 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

img.bg {
	height: 100%;
}

.innovationHeader{
    text-align: center;
    margin-top: 25%;
    font-size: 7em;
	font-weight: bold;
    letter-spacing: 1px;
    color: #4298b5;
}

.titleSection {
    height: 100%;
    width: 100%;
    bottom: 100vh;
}

.contactSection {
	margin-top: 30%;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 5%;
}

.contactPage {
	margin-top: 20%;
}

.contactHeader {
	color: rgb(24, 178, 232);;
}

.contactHeaderForm {
	text-align: center;
	color: rgb(24, 178, 232);
}

.contactPageForm {
	margin-top: 20%;
}

.managerInfo {
	margin-top: 5%;
}

.addressInfo {
	margin-top: 5%;
}

.submitContactButton {
	text-align: right;
}

.buttonSend {
	color: white;
	background-color: rgb(24, 178, 232);
}

.aboutHeader{
    text-align: center;
}
.aboutContainer {
	padding-top: 18%;
    padding-bottom: 18%;
    padding-left: 18%;
    padding-right: 18%;
	height: 100%;
	width: 100%;
	background-color: rgba(24, 178, 232, 0.8);
	text-align: justify;
}
