@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

body{
    font-family: 'Open Sans', sans-serif;
}

.innovationRulesPage {
    margin-top: 9%;
}

.videoTutorial {
    text-align: center;
}

.phaseButtons {
    text-align: center;
    margin-top: 3%;
}

.buttonThink {
    margin-right: 5%;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonThink:hover, .buttonThink:focus, .buttonThink:active {
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonValidation {
    margin-right: 5%;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonValidation:hover, .buttonValidation:focus, .buttonValidation:active {
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonCoaching {
    width: 150px;
    border-radius: 10px;
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonCoaching:hover, .buttonCoaching:focus, .buttonCoaching:active {
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonKick {
    margin-left: 5%;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.buttonKick:hover, .buttonKick:focus, .buttonKick:active {
    background-color: rgb(24, 178, 232);
    border-color: rgb(24, 178, 232);
}

.innovationRulesHeader {
    margin-top: 5%;
    text-align: center;
    color: rgb(24, 178, 232);
}

.rules {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
}