#imaginary_container{
    text-align: right;
    width: 100%;
    margin-top: 5%;
}

.searchWord {
    text-align: center;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.rankingTableStyle {
    margin-top: 5%;
    margin-left: 2%;
}

.rankingTableHead {
    background-color: #4298b5;
}

#homeHeading {
    font-weight: bold;
    text-align: left;
}

.clickable-row {
    cursor: pointer;
}

.cancelledLine {
    background-color: #d9d9d9;
}

.noIdeas {
    text-align: center;
}

.noUsers {
    text-align: center;
}

.tablesBackground {
    background-color: rgb(233,227,220);
}

.newRaceButton {
    margin-top: 5%;
}

.exportDatabaseButton {
    margin-top: 5%;
}