@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

.pageNavbar {
  background-color: rgb(233,227,220);
  border: transparent;
}

.navbarLetterColor {
  /*color: rgb(21,8,103);*/
  color: rgb(78, 115, 130);
  /*color: rgb(71,159,236);*/
}

.imageNavbar {
  height: 130%;
  width: 130%;
  margin-left: 5%;
}

.navbarList {
  float: right;
}

.navbar-default .navbar-nav > li > a {
  text-decoration:none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  text-decoration: underline;
  color:deepskyblue;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  text-decoration: underline;
  color:deepskyblue;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    text-decoration: underline;
    color:deepskyblue;
}

.navbarContent {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin-top: 69px;
}

.navbar-toggle {
  margin-top: 2%;
}

/* toggle in small size ---> responsive navbar */

@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    margin-bottom: 3%;
    text-align: center;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
