.pageNavbar {
  height: 6%;
  background-color: rgba(233,227,220,0.8);
  border: transparent;
}

h4 {
  color: rgb(21,8,103);
}

.imageNavbar {
  height: 130%;
  width: 130%;
  margin-left: 5%;
}

.navbarList {
  float: right;
}