#passwordResetText {
    text-align: center;
    color: rgb(35, 127, 195);
    margin: 55px 0px;
}

#passwordResetHeading {
    font-weight: bold;
    text-align: center;
    margin: 55px 0px;
}

#passwordResetEmail {
    width: 35%;
    display: block;
    margin : 55px auto;
}

#resetSubmitButton {
    width: 10%;
    display: block;
    margin : 0 auto;
}
