#passwordResetText, #passwordChangeText {
    text-align: center;
    color: rgb(35, 127, 195);
    margin: 55px 0px;
}

#passwordResetHeading, #passwordChangeHeading {
    font-weight: bold;
    text-align: center;
    margin: 55px 0px;
}

#passwordResetEmail {
    width: 35%;
    display: block;
    margin : 55px auto;
}

#firstPassword, #secondPassword {
    width: 35%;
    display: block;
    margin: 0 auto;
}

#resetSubmitButton, #changeSubmitButton {
    width: 10%;
    display: block;
    margin : 55px auto;
}

#firstPasswordDiv, #secondPasswordDiv {
    text-align: center;
}

#firstPasswordError, #secondPasswordError {
    display: inline-block;
    margin: 0px auto;
}

