@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin: 0 auto;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.main-login {
    background-color: rgba(192,192,192,0.2);
    padding: 15px;

}

.modal-header{
    background-color: rgba(192,192,192,0.2);
}


.login-body {
    background-color: rgba(192,192,192,0.2);
}

.modal-content {
    opacity: 0.94;
}

.hide {
    display:none;
}

.showhideopt {
}

.registerbutton {
}

.registerModalContainer {
    margin-bottom: 5%;
}

.saveDraftButton {
    margin-top: 15px;
}

#submit_idea {
    margin-bottom: 40px;
}

label.error {
    color: #a94442;
}

input.error {
    border-color: red;
}

header {
    margin-top: 100px;
}

h1, h2 {
    color: rgb(24, 178, 232);
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

table {
    margin: 20px 0px;
}

thead {
    background-color: #4298b5;
    color: white;
}

.table-column-smallest {
    width: 1px;
}

/* Ranking page */

.noScore {
    /*background-color: lightsalmon;*/
    color: red;
}