<div class="container-fullwidth">
    <nav class="navbar navbar-default navbar-fixed-top pageNavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull-left" {{#compare pageName "Home"}}href="#mainSection"{{/compare}} {{#compare pageName "!==" "Home"}}href="/"{{/compare}}><img src="/images/logo.png" class="imageNavbar"></a>
            </div>
            <div class="collapse navbar-collapse navbarContent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbarList">
                    {{#if isAdmin}}
                    <!--<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4 class="navbarLetterColor">MANAGE
                            <span class="caret"></span></h4></a>
                        <ul class="dropdown-menu">
                            <li><a href="/manageUsers"><h4 class="navbarLetterColor">MANAGE USERS</h4></a></li>
                            <li><a href="/manageIdeas"><h4 class="navbarLetterColor">MANAGE IDEAS</h4></a></li>
                            <li><a href="/manageRaces"><h4 class="navbarLetterColor">MANAGE RACES</h4></a></li>
                        </ul>
                    </li>-->
                        <li {{#compare pageName "Manage Ideas"}}class="active"{{/compare}} {{#compare pageName "Manage Users"}}class="active"{{/compare}} {{#compare pageName "Manage Races"}}class="active"{{/compare}}><a href="/manageIdeas"><h4 class="navbarLetterColor">MANAGE</h4></a></li>
                    {{/if}}
                    <li {{#compare pageName "Innovation Rules"}}class="active"{{/compare}}><a href="/innovationRules"><h4 class="navbarLetterColor">INNOVATION RULES</h4></a></li>
                    <li {{#compare pageName "Ranking"}}class="active"{{/compare}}><a href="/ranking"><h4 class="navbarLetterColor">RANKING</h4></a></li>
                        <!--<li><a class="page-scroll" href="#about" id="aboutButton"><h4 class="navbarLetterColor">About Altran</h4></a></li>
                        <li><a class="page-scroll" href="#contact"><h4 class="navbarLetterColor">Contact</h4></a></li> -->

                    <li><a {{#compare pageName "Home"}}href="#contact"{{/compare}} {{#compare pageName "!==" "Home"}}href="/#contact"{{/compare}}><h4 class="navbarLetterColor">CONTACT</h4></a></li>
                    <li><a {{#compare pageName "Home"}}href="#about"{{/compare}} {{#compare pageName "!==" "Home"}}href="/#about"{{/compare}}><h4 class="navbarLetterColor">ABOUT US</h4> </a> </li>
                    {{#if userID}}
                        {{#unless isAdmin}}
                            <li {{#compare pageName "User Page"}}class="active"{{/compare}}><a class="MainNavText" id="MainNavHelp" href="/users/{{userID}}"><h4 class="navbarLetterColor">PROFILE</h4></a></li>
                        {{/unless}}
                        <li><a class="MainNavText" id="MainNavHelp" href="/auth/logout"><h4 class="navbarLetterColor">LOGOUT</h4></a></li>
                    {{else}}
                        <li><a data-target="#loginModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#loginModal"><h4 class="navbarLetterColor">LOGIN</h4></a></li>
                        <!--<li><a data-target="#registrationModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#registrationModal"><h4 class="navbarLetterColor">REGISTER</h4></a></li>-->
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</div>

<script scr="../../js/navbar.js"></script>
<script src="../../js/scrollHomepage.js"></script>

{{> auth/login}}

{{> auth/register}}
