<div class="modal fade" id="classificationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel-title text-center">
                    <h1 class="title">Idea classification</h1>
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="classification">

                    <div class="container registerModalContainer">
                        <div class="form-group">
                            <label for="name" class="col-sm-1 control-label">Strategy alignment</label>
                            <div class="col-sm-4">
                                <input type="text" id="strategyAlignment" name="strategyAlignment" placeholder="Strategy alignment" class="form-control" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-1 control-label">Value offer</label>
                            <div class="col-sm-4">
                                <input type="text" id="valueOffer" name="valueOffer" placeholder="Value offer" class="form-control" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Potential market for innovation</label>
                            <div class="col-sm-4">
                                <input type="text" id="innovationMarket" name="innovationMarket" placeholder="Innovation Market" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Technical viability</label>
                            <div class="col-sm-4">
                                <input type="text" id="technicalViability" name="technicalViability" placeholder="Technical Viability" class="form-control" autofocus>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Economical viability</label>
                            <div class="col-sm-4">
                                <input type="text" id="economicalViability" name="economicalViability" placeholder="Economical Viability" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Economical viability</label>
                            <div class="col-sm-4">
                                <input type="text" id="economicalViability" name="economicalViability" placeholder="Economical Viability" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Other requirements</label>
                            <div class="col-sm-4">
                                <input type="text" id="otherRequirements" name="otherRequirements" placeholder="Other requirements" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-1 control-label">Risk factors</label>
                            <div class="col-sm-4">
                                <input type="text" id="riskFactors" name="riskFactors" placeholder="Risk factors" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="registerbutton">
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-6">
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> <!-- /form -->
            </div>
        </div>
    </div>
</div>