        <div class="navbar navbar-default navbar-fixed-bottom footer">
            <div class="container">
                <ul>
                    <button type="button" class="btn btn-info contactButton"><a href="/contact">Contact</a></button>
                    <button type="button" class="btn btn-info aboutButton"><a href="http://www.altran.pt/">About Altran</a></button>
                </ul>
            </div>
        </div>
    </body>
</html>