<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registrationModal">
    Register
</button>
<div class="modal fade" id="registrationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel-title text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="title">Create Account</h1>
                </div>
            </div>
            <div class="modal-body main-login main-center">
                <form class="form-horizontal" method="post" action="auth/register">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="fullnameID" name="name" placeholder="Full Name" class="form-control"
                                   autofocus>
                            <span id="errorFullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" id="registerEmail" name="email" placeholder="Email"
                                   class="form-control">
                            <span id="errorEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="registerPassword" name="password" placeholder="Password"
                                   class="form-control">
                            <span id="errorPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="registerConfirmPassword" placeholder="Confirm Password"
                                   class="form-control">
                            <span id="errorConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">User Type</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" id="MemberRadio" name="type" value="2" onclick="fMember()">Member
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" id="PartnerRadio" name="type" value="1"
                                               onclick="fPartner()">Partner
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" id="CustomerRadio" name="type" value="0"
                                               onclick="fCustomer()">Customer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="showhideopt">
                        <div id="Member" class="hide">
                            <div class="form-group">
                                <label for="businessArea" class="col-sm-1 control-label">Business Area</label>
                                <div class="col-sm-4">
                                    <input type="text" id="businessArea" name="businessArea" placeholder="Business Area"
                                           class="form-control" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="collabNumber" class="col-sm-1 control-label">Collaborator number</label>
                                <div class="col-sm-4">
                                    <input type="text" id="collabNumber" name="businessArea"
                                           placeholder="Collaborator Number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role" class="col-sm-1 control-label">Role</label>
                                <div class="col-sm-4">
                                    <input type="text" id="role" name="role" placeholder="Role" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div id="Partner" class="hide">
                            <div class="form-group">
                                <label for="referral" class="col-sm-1 control-label">Referral</label>
                                <div class="col-sm-4">
                                    <input type="text" id="referral" name="referral" placeholder="Referral"
                                           class="form-control" autofocus>
                                </div>
                            </div>
                        </div>

                        <div id="Customer" class="hide">
                            <div class="form-group">
                                <label for="referral" class="col-sm-1 control-label">Referral</label>
                                <div class="col-sm-4">
                                    <input type="text" id="referral" name="referral" placeholder="Referral"
                                           class="form-control" autofocus>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">I accept <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button id="registerButton" type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>


                </form> <!-- /form -->
            </div>
        </div>
    </div>
</div>