<head></head>

<body style="text-align:center">
<div style="display:inline-block;background-color:#fff;margin:0 auto 0 auto;padding:30px 0 30px 0;color:#4f565d;font-size:13px;line-height:20px;font-family:'Helvetica Neue',Arial,sans-serif;text-align:left;">
    <table style="width:550px;text-align:center">
        <tbody>
        <tr>
            <td style="padding:0 0 20px 0;border-bottom:1px solid #e9edee;">
                <a href="http://www.altran.pt" style="display:block; margin:0 auto;" target="_blank">
                    <img src="http://www.altran.pt/fileadmin/templates/main/media/logo/logo_altran.png" width="174" height="80" alt="Altran logo" style="border: 0px;">
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 0;">
                <p style="margin:0 10px 10px 10px;padding:0;">Someone just submitted the contact form on the Innovation Race Portal.</p>
                <br />
                <p style="margin:0 10px 10px 10px;padding:0;"><strong>Name:</strong> {{name}}</p>
                <p style="margin:0 10px 10px 10px;padding:0;"><strong>Email:</strong> {{email}}</p>
                <p style="margin:0 10px 10px 10px;padding:0;"><strong>Subject:</strong> {{subject}}</p>
                <p style="margin:0 10px 10px 10px;padding:0;"><strong>Message:</strong> <pre>{{message}}</pre></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>